/* Estilos para visualizar las divisiones */
.image-container {
  position: relative;
  overflow: hidden;
}

.team-member-details {
  text-align: center;
  margin-top: 0.5rem;
}
/* Estilos existentes */
.team-member img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: transform 0.4s;
  display: block;
}
@media (max-width: 768px) {
  .team-title,
  .team-subtitle {
    text-align: left;  /* Alinea el texto a la izquierda */
    margin-left: 0;    /* Asegura que no haya margen a la izquierda */
    margin-right: 0;   /* Asegura que no haya margen a la derecha */
    padding-left: 0;   /* Asegura que no haya padding a la izquierda */
    width: 100%;       /* Asegura que ocupe el 100% del ancho disponible */
    box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
  }
}


@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    margin-bottom: 2rem;
  }

  .team-member img {
    width: 75%; /* Ajusta el tamaño de las imágenes a 75% en móviles */
    height: auto; /* Mantiene la proporción correcta */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
  }

  .team-member-details h4 {
    font-size: 1.1rem;
  }

  .team-member-details span {
    font-size: 0.9rem;
  }
}

.team-member .social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.team-member:hover .social-links {
  opacity: 1;
  transform: translateY(0);
}

.team-member:hover img {
  transform: scale(1.1);
}

.team-member .social-links a img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.team-member-details h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}

.team-member-details span {
  font-size: 1rem;
  color: #ccc;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .team-title,
  .team-subtitle {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }

  .team-member {
    margin-bottom: 2rem;
  }

  .team-member img {
    height: auto;
  }

  .team-member-details h4 {
    font-size: 1.1rem;
  }

  .team-member-details span {
    font-size: 0.9rem;
  }
}

/* Añadimos una clase para el contenedor de los títulos */
.team-header {
  overflow: hidden;
  position: relative;
}

.team-title,
.team-subtitle {
  animation: slide-in-left 1.5s ease-out forwards;
  opacity: 0;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  60% {
    transform: translateX(45%);
    opacity: 1;
  }
  75% {
    transform: translateX(52%);
  }
  100% {
    transform: translateX(50%);
    opacity: 1;
  }
}
