/* Estilos para móviles */
@media (max-width: 768px) {
  /* Ajuste de título en móvil */
  .title-mobile {
    font-size: 1.5rem; /* Aumenta el tamaño del texto en móvil */
    margin-left: 20px; /* Mueve el título hacia la derecha */
    position: relative;
    top: -10px; /* Mueve un poco el título hacia arriba */
  }

  /* Ajuste de imagen */
  .icon-mobile {
    margin-left: 20px;
    margin-top: 5px; /* Alinea la imagen con el texto del lado izquierdo */
  }
}

/* Animaciones existentes */
.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate-center {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
